*{
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 10vh 4vh 10vh;
    background-color: olive;
}

#title{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

#list {
    list-style-type: none;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    color: darkslategray;
    align-items: center;
}

li {
    margin: 0 1vh 0 1vh;
    padding: 0 2vh 0 2vh;
    background-color:white;
    border-radius: 10px;
 }
